@font-face {
    font-family: 'CASS_BITMAP';
    src: url('fonts/CASS_BITMAP.ttf');
}

:root
{
    --nearblack: #020414;
    --lighterblack: #12110c;
    --gold: #ff9900;
    --carmine: #cf2e1d;
    --indigo: #642e96;
    --column-width: 768px;
    --line-height: 22px;
    --border-width: 2px;
    --border-colour: var(--gold);
}

*
{
    font-size: 16px;
    font-family: CASS_BITMAP;
    line-height: var(--line-height);
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gold);
    background-color: var(--nearblack);
}

body
{
    max-width: var(--column-width);
    margin:auto;
    padding-left: 1ch;
    padding-right: 1ch;
}

div
{
    background-color: inherit;
}

div.bordered_box
{
    margin-bottom: 1lh;
    padding-top: 0;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1lh;
    position: relative;
    isolation: isolate;
    background-color: var(--lighterblack);
}

div.bordered_box:before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: calc(100% - 1ch - var(--border-width));
    height: calc(100% - 1lh - var(--border-width));
    border: solid var(--border-width) var(--border-colour);
    z-index: -1;
}

span
{
    background-color: transparent;
}

span.badge,
span.hollow_badge
{
    color: var(--nearblack);
    background-color: var(--gold);
    display: inline-flex;
    vertical-align: middle;
    height: 1lh;
    padding-left: 1ch;
    padding-right: 1ch;
}

span.hollow_badge
{
    background-color: inherit;
    color: var(--carmine);
}

p
{
    padding-right: 2ch;
    padding-left: 2ch;
    background-color: inherit;
}

p.badge
{
    background-color: var(--carmine);
    color: var(--nearblack);
    text-align: center;
    margin-left: 2ch;
    margin-right: 2ch;
}

ul
{
    background-color: inherit;
}

li
{
    list-style-type: none;
    padding-right: 2ch;
    padding-left: 2ch;
    background-color: inherit;
}

li:before
{
    content: "- ";
}

table, tr, td, tbody
{
    background-color: inherit;
}

img
{
    padding-top: 1lh;
    padding-right: 2ch;
    padding-left: 2ch;
    background-color: inherit;
}

a
{
    background-color: inherit;
    color: var(--indigo);
}

a.menu_link
{
    float: right;
    margin-left: 2ch;
    margin-right: 2ch;
    width: calc(100% - 4ch);
    background-color: transparent;
}

a.block_link
{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

button
{
    color: var(--indigo);
    border: 2px solid var(--indigo);
    background-color: inherit;
    height: var(--line-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 2ch;
    padding-right: 2ch;
}

button:hover
{
    background-color: var(--indigo);
    color: var(--nearblack);
}

button:active
{
    color: var(--indigo);
    background-color: transparent;
    border: 2px solid transparent;
}

hr
{
    background-color: var(--indigo);
    border-width: 0px;
    margin-bottom:1lh;
    height: 2px;
}