@layer base, utils, components;

@import 'webtui/css/base.css';

/* Utils */
@import 'webtui/css/utils/box.css';

/* Components */
@import 'webtui/css/components/button.css';
@import 'webtui/css/components/typography.css';
@import 'webtui/css/components/badge.css';
@import 'webtui/css/components/table.css';
@import 'webtui/css/components/input.css';
@import 'webtui/css/components/popover.css';

p
{
    padding-right: 1rem;
    padding-left: 1rem;
}

li
{
    padding-right: 1rem;
    padding-left: 1rem;
}

a
{
    /* padding-right: 1rem;
    padding-left: 1rem; */
}

img
{
    padding-top: 1lh;
    padding-right: 1rem;
    padding-left: 1rem;
}

a.menu_link
{
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
}

@font-face {
    font-family: 'CASS_BITMAP';
    src: url('CASS_BITMAP.ttf');
}

:root
{
    --nearblack: #020414;
    --gold: #f2a11a;
    --carmine: #cf2e1d;
    --indigo: #642e96;
}

*
{
    --font-size: 16px;
    --font-family: CASS_BITMAP;
    --background0: var(--nearblack);
    --foreground0: var(--gold);
    --foreground1: var(--gold);
    --line-height: 20px;
    -webkit-text-size-adjust: 100%;
}

button
{
    color: var(--indigo);
    border: 2px solid var(--indigo);
    background-color: transparent;
}

button:hover
{
    background-color: var(--indigo);
    color: var(--nearblack);
}

button:active
{
    color: var(--indigo);
    background-color: transparent;
    border: 2px solid transparent;
}