@layer base, utils, components;

@import 'node_modules/@webtui/css/dist/base.css';

/* Utils */
@import 'node_modules/@webtui/css/dist/utils/box.css';

/* Components */
@import 'node_modules/@webtui/css/dist/components/button.css';
@import 'node_modules/@webtui/css/dist/components/typography.css';
@import 'node_modules/@webtui/css/dist/components/badge.css';
@import 'node_modules/@webtui/css/dist/components/table.css';
@import 'node_modules/@webtui/css/dist/components/input.css';
@import 'node_modules/@webtui/css/dist/components/popover.css';

/* p
{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
} */